:root {
  --font-family-primary:  'Roboto';

  --font-xxxg: 36px;
  --font-xxg: 30px;
  --font-xg: 24px;

  --font-bg: 18px;
  --font-md: 14px;
  --font-sm: 12px;

  --font-color-primary: #3B495E;
  
  font-size: var(--font-md);
  font-family: var(--font-family-primary);

}
